@page
@model IndexPage

@{
    ViewData["Title"] = "خانه";
}

<div class="row">
    @*<div class="col-md-12">
            <a class="btn btn-primary"
               data-bs-toggle="offcanvas"
               href="#offcanvasExample"
               role="button"
               aria-controls="offcanvasExample">
                Link with href
            </a>
        </div>*@
    <div class="col-md-12">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("TimelineList", Model.TimelineList)
    </div>
</div>