@page "/timeline/create"
@model AddModel
@{
    ViewData["Title"] = "ثبت خبر جدید";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="alert alert-warning mb-2" role="alert">
            <h4 class="alert-heading">ثبت خبر جدید</h4>
            <p>
                قبل از ثبت خبر لطفا به موارد زیر توجه بفرمایید:
                <ul>
                    <li>عنوان و محتوای خبر را تا حد امکان به زبان فارسی بنویسید.</li>
                    <li>سعی کنید برای هر خبر از حداقل یک برچسب مناسب و مرتبط استفاده کنید.</li>
                    <li>درج لینک منبع یا منابع برای هر خبر الزامی‌ست.</li>
                </ul>
            </p>
            <hr>
            <p class="mb-0">
                <b>رویداد نگار ایران</b>
                در رد یا قبول اخبار دریافتی مختار است.
            </p>
        </div>
        <div class="alert alert-primary mb-5" role="alert">
            شما با شناسه
            <b>@User.Identity.Name</b>
            در حال ثبت خبر هستید.
        </div>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-@Model.Alert" role="alert">
                @Model.Message
            </div>
        }
        <form class="row g-3" method="post" id="timeline">
            <div class="col-md-12">
                <label asp-for="InputModel.Title" class="form-label"></label>
                <input type="text" class="form-control" asp-for="InputModel.Title" />
                <span class="text-danger samll" asp-validation-for="InputModel.Title"></span>
            </div>
            <div class="col-12">
                <label asp-for="InputModel.Content" class="form-label"></label>
                <textarea class="form-control editorjs" asp-for="InputModel.Content" rows="10"></textarea>
                <span class="text-danger samll" asp-validation-for="InputModel.Content"></span>
            </div>
            <div class="col-12">
                <label asp-for="InputModel.Tags" class="form-label"></label>
                <input type="text" class="form-control" asp-for="InputModel.Tags">
                <span class="text-danger samll" asp-validation-for="InputModel.Tags"></span>
                <span class="form-text">برچسب‌ها را با خط فاصله <kbd>-</kbd> از هم جدا کنید</span>
            </div>
            <div class="col-md-12">
                <label asp-for="InputModel.Resources" class="form-label"></label>
                <textarea class="form-control" asp-for="InputModel.Resources" rows="3" dir="ltr"></textarea>
                <span class="text-danger samll" asp-validation-for="InputModel.Resources"></span>
                <span class="form-text">
                    هر لینک در یک خط
                </span>
            </div>
            <div class="col-12">
                <button type="button"
                        id="btnGo"
                        onclick="CustomSubmit('timeline', this)"
                        class="btn btn-primary">
                    ثبت تغییرات
                </button>
                <a asp-page="./Index" class="btn btn-link">انصراف</a>
            </div>
        </form>
    </div>
    <div class="col-md-3">
    </div>
</div>