<div class="offcanvas offcanvas-start"
     tabindex="-1"
     id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">رویداد نگار ایران</h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            رویداد نگار ایران یک وب سایت اینترنتی متن باز و رایگان است که تلاش می‌کند 
            خبرهایی را که در سطح ملی، تاثیر بیشتری را بر زندگی ما می‌گذارند، 
            بدون تفسیر و بی هیچ وابستگی فکری و نظری، منعکس کند.
            رویداد نگار ایران به هیچ شخصیت حقیقی، حقوقی، سازمان، حزب و یا گروه 
            فکری و ایدئولوژیک وابسته نبوده و با هزینه و مدیریت شخصی، اداره می‌شود.
        </div>
        <div class="d-flex justify-content-around my-4">
            <div><a class="nav-link" target="_blank" href="https://github.com/hrsh/irantimeflow">مخزن پروژه <i class="bi bi-box-arrow-up-right"></i></a></div>
            <div><a class="nav-link" href="mailto:contact@irantimeflow.ir">تماس <i class="bi bi-envelope"></i></a></div>
            <div><a class="nav-link" target="_blank" href="https://zarinp.al/hrshojaie">حمایت مالی <i class="bi bi-gift"></i></a></div>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x mb-3">
            <span class="badge bg-primary rounded-pill px-3 py-2 fs-6">طرح و پیاده سازی: حمیدرضا شجاعی</span>
            <div class="text-center mt-3 mb-1 fs-5">
                <a href="https://twitter.com/@@hrshojaie">
                    <i class="bi bi-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>